
<div class="row">
    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Fridge</h5>
      <p class="card-text">Samsung 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Whirlpool Fridge</h5>
      <p class="card-text">Whirlpool 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/ifbhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">IFB Fridge</h5>
      <p class="card-text">IFB 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/haierhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Haier Fridge</h5>
      <p class="card-text">Haier 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
</div>



<div class="row">
    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Fridge</h5>
      <p class="card-text">Samsung 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Whirlpool Fridge</h5>
      <p class="card-text">Whirlpool 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/ifbhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">IFB Fridge</h5>
      <p class="card-text">IFB 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/haierhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Haier Fridge</h5>
      <p class="card-text">Haier 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
</div>


<div class="row">
    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Fridge</h5>
      <p class="card-text">Samsung 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/whirl.hd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Whirlpool Fridge</h5>
      <p class="card-text">Whirlpool 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/ifbhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">IFB Fridge</h5>
      <p class="card-text">IFB 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>

    <div class="col-3">

<div class="card" style="width: 18rem;">
    <img src="assets/images/haierhd.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Haier Fridge</h5>
      <p class="card-text">Haier 184L 2 Star Direct-Cool Single Door Refrigerator.</p>
      <p>Price ₹18,000/-</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
</div>
