

<h2>Here our products</h2>
<h3>We have thousands of products in our store,..</h3>

<!--<table class="table table-bordered">
<thead>
    <tr>
        <th>S.No.</th>
    <th>Products</th>
    <th>Price</th>
    <th>Product Details</th>
</tr>
    </thead>
    <tbody>
    <tr>
        <td>1.</td>
        <td>Samsung Refrigerator</td>
        <td>₹21,000/-</td>
        <td> <a routerLink="/image">Samsung 184L 2 Star Direct-Cool Single Door Refrigerator</a></td>
    </tr>

<tr>
    <td>2.</td>
    <td>Whirlpool Refrigerator</td>
    <td>₹21,499/-</td>
    <td> <a routerLink="/image">Whirlpool 184L 2 Star Direct-Cool Single Door Refrigerator</a></td>
</tr>

<tr>
    <td>3.</td>
    <td>Haier Refrigerator</td>
    <td>₹19,000/-</td>
    <td> <a routerLink="/image">Haier 175L 1.5 Star Direct-Cool Single Door Refrigerator</a></td>
</tr>

<tr>
    <td>4.</td>
    <td>IFB Refrigerator</td>
    <td>₹18,500/-</td>
    <td> <a routerLink="/image">IFB 184L 2 Star Direct-Cool Single Door Refrigerator</a></td>
</tr>


</tbody>
</table>-->



